header {
  height: 400px;
  width: 100%;
  background: #ebcb2c;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  header {
    width: 40%;
    margin-top: 240px;
    margin-left: 1.5em;
    margin-right: 3em;
  }
}
